.Dish {
    width: 50%;
    height: 100vh;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.foodBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 80px 20px;
}
