.assemblyOfControls {
    width: 50%;
    background-color: #ccc;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.price {
    width: 100%;
    font-size: 20px;
    color: #f50057;
    font-weight: bold;
    border-bottom: 4px solid #fff;
    padding: 10px;
}

.orderBtn {
    width: 120px;
    height: 60px;
}
