.AssemblyOfControl {
    width: 45%;
    border: 3px solid #1f5e93;
    border-radius: 14px;
    margin: 5px;
}

.Label {
    padding: 10px;
    font-weight: bold;
    color: #f50057;
}

.MuiButton-containedPrimary {
    font-size: 18px;
}
