.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 2px #eee;
    box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.3);
    padding: 16px;
    left: 15%;
    top: 20%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}
.list{
    text-align: left
}
.heading{
    text-align: left;
    font-weight: bold;
}
